{% extends 'base.html.twig' %}

{% block title %}Listado de Porveedores{% endblock %}

{% block body %}
    <h1 style="text-align:center">Listado de Proveedores</h1>
    <div style="text-align:center;margin-left:450px; margin-top: 80px">
    <table class="table-primary" style="border:solid 1px black">
        <thead>
            <tr class="table-primary" style="background-color:#823c3c;">
                <th class="table-primary"  style="color:#f2ecb0; width:100px" >ID</th>
                <th class="table-primary" style="color:#f2ecb0; width:100px">Nombre</th>
                <th class="table-primary" style="color:#f2ecb0; width:100px">Correo</th>
                <th class="table-primary" style="color:#f2ecb0; width:100px">Telefono</th>
                <th class="table-primary" style="color:#f2ecb0; width:100px">Dirección</th>
                <th class="table-primary" style="color:#f2ecb0; width:200px">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr class="table-primary" style="background-color: ">
                    <td style=" width:100px">{{ proveedor.id }}</td>
                    <td style=" width:100px">{{ proveedor.nombre }}</td>
                    <td style=" width:100px">{{ proveedor.email }}</td>
                    <td style=" width:100px">{{ proveedor.telefono ~ '$' }}</td>
                    <td style=" width:100px">{{proveedor.direccion}}</td>
                    <th><a class="btn btn-success" href="{{ path('app_proveedor_editar', {id:proveedor.id})}}" style="width:150px">EDITAR</a> 
                    <a class="btn btn-danger" href="{{ path('app_proveedor_eliminar', {id:proveedor.id})}}" style="width:150px">ELIMINAR </a> </th>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="btn btn-primary" style="margin-left:450px; margin-top: 50px" href="{{ path('app_proveedor') }}" > Nuevo proveedor</a>
{% endblock %}
