{% extends 'base.html.twig' %}

{% block title %}Hello EDIT CLIENT!{% endblock %}
{% block body %}
        <div class="container"style="text-align:center; margin-top:100px; background-color:#3b3737; color: #f7f7f7">
            <h1 style="margin-bottom:20px">EDITAR CLIENTE</h1>    
            {{ form_start(form) }}
                <div class="form-group" style="width:300px;margin-left:500px; margin-bottom:15px;">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group" style="width:300px;margin-left:500px; margin-bottom:15px">
                    {{ form_label(form.password,) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
{% endblock %}
