{% extends 'base.html.twig' %}

{% block title %}Listado de clientes{% endblock %}

{% block body %}

    <style>
        #search-input {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 1px black;
            width: 350px;
        }
        #search-form {
            display: flex;
            width: 400px;
            margin-left: 550px;
            margin-top: 50px;
        }
        .buscar {
            background-color: #823c3c;
            color: #f2ecb0;
            border: none;
            border-radius: 5px;
            padding: 5px;
            margin-left: 10px;
        }

    </style>

    <h1 style="text-align:center">Listado de clientes</h1>
    <form id="search-form">
        <input type="text" id="search-input" placeholder="Buscar producto">
        <button type="submit" class="buscar">Buscar</button>
    </form>
    <div style="text-align:center;margin-left:450px; margin-top: 80px">
    <table id="productos-table tbody"class="table-primary" style="border:solid 1px black">
        <thead>
            <tr class="table-primary" style="background-color:#823c3c;">
                <th class="table-primary" style="color:#f2ecb0; width:100px">ID</th>
                <th class="table-primary" style="color:#f2ecb0; width:100px">email</th>
                <th class="table-primary" style="color:#f2ecb0; width:100px">roles</th>
                <th class="table-primary" style="color:#f2ecb0; width:200px">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr class="table-primary" style="background-color: ">
                    <td style=" width:100px">{{ cliente.id }}</td>
                    <td style=" width:100px">{{ cliente.email }}</td>
                    {% for rol in cliente.roles %}
                        <td style=" width:100px">{{ rol }}</td>
                    {% endfor %}
                    <td><a href="{{ path('app_cliente_editar', {id:cliente.id})}}" class="btn btn-primary">Editar</a>
                    <a href="{{ path('app_cliente_eliminar', {id:cliente.id})}}"  class="btn btn-danger">Eliminar</a></td>                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}