{% extends 'base.html.twig' %}

{% block title %}Hello ProductoController!{% endblock %}

{% block body %}
        <div class="container"style="text-align:center; margin-top:100px; background-color:#3b3737; color: #f7f7f7">
            <h1 style="margin-bottom:20px">Registro de Productos</h1>
            
            {{ form_start(formulario) }}
                <div class="form-group" style="width:300px;margin-left:500px; margin-bottom:15px;">
                    {{ form_label(formulario.nombre) }}
                    {{ form_widget(formulario.nombre, {'attr': {'class': 'form-control'}}) }}
                </div>
                        
                <div class="form-group" style="width:300px;margin-left:500px; margin-bottom:15px;">
                    {{ form_row(formulario.imagen, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group" style="width:300px;margin-left:500px; margin-bottom:15px">
                    {{ form_label(formulario.descripcion,) }}
                    {{ form_widget(formulario.descripcion, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group" style="width:300px;margin-left:500px; margin-bottom:15px">
                    {{ form_label(formulario.precio) }}
                    {{ form_widget(formulario.precio, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group" style="width:150px; margin-left:570px; margin-bottom:15px">
                    {{ form_label(formulario.stock) }}
                    {{ form_widget(formulario.stock, {'attr': {'class': 'form-control'}}) }}
                </div style="margin-bottom:15px">

                {{ form_widget(formulario.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(formulario) }}
        </div>
{% endblock %}


