{% extends 'base.html.twig' %}

{% block title %}REGISTRO DE USUARIO!{% endblock %}

{% block body %}
    <div class="container"style="text-align:center; margin-top:100px">
        <h1 style="margin-bottom:20px">Registro de usuario</h1>
        {{ form_start(formulario) }}
            
            <div class="form-group" style="width:300px;margin-left:500px; margin-bottom:15px">
                {{ form_label(formulario.email,) }}
                {{ form_widget(formulario.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group" style="width:300px; margin-left:500px; margin-bottom:15px">
                {{ form_label(formulario.password) }}
                {{ form_widget(formulario.password, {'attr': {'class': 'form-control'}}) }}
            </div style="margin-bottom:15px">
           


            {{ form_widget(formulario.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(formulario) }}
    </div>
    <div style="text-align:center; margin-right:500px">
        <a href="{{ path('app_login') }}" style="margin-left:500px">¿Ya tienes cuenta? Inicia sesión</a>
    </div>
    <br>
    <div class="container" style="text-align:center;margin-top: 15px">

    {% set error_message = 'El correo electrónico ya está registrado, por favor intente con otro.' %}

        {% if app.session.flashbag.has('success') %}
            <div id="alert" class="alert alert-success">
                <strong>{{ app.session.flashbag.get('success')[0] }}</strong>
            </div>
        {% endif %}

         {% if app.session.flashbag.has('error')  %}
            <div id="alert" class="alert alert-danger">
                <strong>{{ error_message }}</strong>
            </div>
        {% endif %}

    </div>
    <script>
    setTimeout(function() {
        document.getElementById('alert').style.display = 'none';
    }, 5000); // Cambia 10000 por el número de milisegundos que quieras
</script>

{% endblock %}
