{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}
{% block body %}
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard de productos</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
         #search-input {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 1px black;
            width: 350px;
        }
        #search-form {
            display: flex;
            width: 400px;
            margin-left: 550px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .buscar {
            background-color: #2a728e;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px;
            margin-left: 10px;
        }

      body {
        font-family: sans-serif;
        background-color: #f3f3f3; 
      }

      .container { 
        width: 1000px; 
        margin: 0 auto; 
      }

      h1 { 
        text-align: center; 
        font-weight: normal; 
        color: #444;  														   }

      .dashboard {   width: 100%;   margin-top: 20px;}

      .dashboard table {     width: 100%;     border-collapse: collapse;}

      .dashboard table th, td{    text-align: left;    padding: 10px;}

      .dashboard table th {     background-color:#444;     color:#fff;}

      .dashboard table tr td{    background-color:#f2f2f2;}

      .redes-sociales-icono:hover {
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
      }
      .redes-sociales-icono:hover {
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
      }
      .redes-sociales-icono:hover {
        transform: scale(1.2);
        transition: all 0.2s ease-in-out;
      }
    </style>   
  </head> 

<body>
  <div style="background-color:black; color: white">
    {% if app.user %}
      <div class="mb-3">
        BIENVENIDO. <strong>{{ app.user.userIdentifier }}</strong>
        {{ app.user.id }}
      </div>
    {% endif %}
  </div>

 <form id="search-form">
        <input type="text" id="search-input" placeholder="Buscar producto">
        <button type="submit" class="buscar">Buscar</button>
    </form>

     <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://th.bing.com/th/id/OIP.5zcC02LUmJBw4yBag3WcfgHaE5?w=278&h=183&c=7&r=0&o=5&dpr=1.3&pid=1.7" 
      class="d-block w-100" alt="..." style="height:500px">
    </div>
    <div class="carousel-item">
      <img src="https://th.bing.com/th/id/OIP.SA7o881kocqkRlbwHHDt3AHaEK?pid=ImgDet&rs=1" class="d-block w-100" 
      alt="..." style="height:500px">
    </div>
    <div class="carousel-item">
      <img src="https://th.bing.com/th/id/R.3f3ca4857256e1712284b0b358e6ad33?rik=pGlmc2i9RbnzHA&pid=ImgRaw&r=0" 
      class="d-block w-100" alt="..." style="height:500px" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Productos</h1>
        <div class="dashboard">
         <div class= "row">
          {% for producto in productos %}
              <div class="col mb-3 mx-2">
                <div class="card" style="width: 18rem;">
                  <img src="{{ path('app_producto_imagen', {'id': producto.id}) }}" alt="imagen" class="card-img-top" style="height:200px" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }} | {{ producto.precio ~ '$'}}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                   <a href="{{ path('app_detalle_producto', {id:producto.id})}}" class="btn btn-primary">ver detalles</a>
                  </div>
                </div>
              </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>               
</body>

<footer style="background-color: #f9eee2; height: 100px; width:100%">
  <div class="container" >
    <div >
      <div>
        <a href="https://www.facebook.com/TuUsuario/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" alt="Facebook" width="30" height="30" class="redes-sociales-icono">
        </a>
        <a href="https://twitter.com/TuUsuario/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/3669/3669691.png" alt="Twitter" width="30" height="30" class="redes-sociales-icono">
        </a>
        <a href="https://www.instagram.com/TuUsuario/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/3670/3670274.png" alt="Instagram" width="30" height="30" class="redes-sociales-icono">
        </a>
        <p class="text-center">Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>

</html>
{% endblock %}
